<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>

    <header>POLR</header>

    <h1> Create a Poll</h1>
    <form action='/' method='POST'>
      <label for='Creator'>Creator Name</label>
      <input type='email' id='creator' name='creator' placeholder="Email">
      <input type='text' name='title' placeholder="Poll Title goes here">
      <hr>
      <label for='item'>1</label>
      <input type='text' id='item' name='item' placeholder="Item1 goes here">
      <label for='item'>2</label>
      <input type='text' id='item' name='item' placeholder="Item2 goes here">
      <label for='item'>3</label>
      <input type='text' id='item' name='item' placeholder="Item3 goes here">
      <button> Submit </button>
    </form>


<!--     <h1> Vote for a poll </h1>
    <form action='/' method='POST'>
      <input type='text' name='title' placeholder="Poll Title goes here">
      <hr>
      <label for='item'>1</label>
      <input type='text' id='item' name='item' placeholder="Item goes here">
      <button> Submit </button>
    </form> -->

  </body>
</html>
