<!DOCTYPE html>
<html lang="en">

<head>
  <title>Admin Page</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="icon" href="data:,">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <!-- External  javascript-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <script src="https://use.fontawesome.com/729922a123.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>


</head>

<body>

  <header>
    <% include ./partials/_header %>
  </header>

  <div class="d-flex justify-content-center main-container">
    <section>
      <h2 id='poll_title' class='text-center'><%= result[0].poll_title %></h2>
      <p id='is-poll-closed-text' class='text-center'>Poll is open</p>
      <ul class="list-group">
        <% result.forEach((item) =>{ %>
          <li class="ui-state-default vote-admin">
            <div class="p-2">
              <%= item.poll_item %>
            </div>
            <br>
          </li>
          <% }); %>
      </ul>
      <br>
      <div class="card">
        <div class="card-body">
          <p>Send this URL to your friends to have them vote:</p>
          <div class="input-group">
            <input type="text" id="copyurl" class="form-control" value="<%= process.env.SERVER_URL + '/' +result[0].poll_url %>">
            <div class="input-group-append">
              <button id="copy" class="btn btn-sml" data-clipboard-target="#copyurl" data-toggle="tooltip" title="Copied to Clipboard!">
            <i class="fa fa-clipboard" aria-hidden="true"></i>
          </button>
            </div>
          </div>
        </div>
      </div>
      <button type='button' class="friends-button btn btn-outline-primary btn-lg btn-block">Invite friends</button>
      <div id="friends-form" style="display:none">
        <form action='' method='POST'>
          <label for='friends'>Send this poll to friends via SMS</label>
          <input type='text' id='id1' class="p-2" name='friends'>
          <input type='text' id='id2' class="p-2" name='friends'>
          <div id='friend'></div>
          <div class='add-sms'>
            <i class="fa fa-plus pull-left" aria-hidden="true"></i>
            <p>Add phone number</p>
          </div>
          <button type="submit" class="btn btn-outline-primary btn-lg btn-block"> Submit </button>
        </form>
      </div>
      <button class="btn btn-outline-primary btn-lg btn-block view-results">View Poll Results</button>
      <button class="btn btn-outline-primary btn-lg btn-block close-poll">Close Poll</button>
      <button class="btn btn-outline-primary btn-lg btn-block create-poll">Create New Poll</button>
    </section>
  </div>

</body>

<script>
  var result = <%-JSON.stringify(result[0])%>;
</script>

</html>
