<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="icon" href="data:,">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/index.js"></script>

  <!-- External  javascript-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <script src="https://use.fontawesome.com/729922a123.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <!-- For mobile drag n drop-->
  <script type="text/javascript" src="/scripts/jquery.ui.touch-punch.js"></script>

</head>

<body>

  <header>
    <% include ./partials/_header %>
  </header>

  <div class="d-flex justify-content-center main-container">
    <section>
      <h2 class="text-center">Create a New Poll</h2>
      <hr>
      <form id="needs-validation" action='/' method='POST' novalidate>

        <div class="d-flex flex-column">
          <h5 class="text-center">E-mail</h5>
            <input class="p-2 form-control" type='email' id='creator' name='creator' placeholder="E-mail" required>
            <div class="invalid-feedback">
              Must enter a valid e-mail address.
            </div>
          <br>
        </div>

        <div class="d-flex flex-column">
          <h5 class="text-center">Poll Title</h5>
          <input class="p-2 form-control" type='text' name='title' placeholder="What do you want to vote on?" required>
            <div class="invalid-feedback">
              Title cannot be empty.
            </div>
          <hr>
        </div>
        
        <h5 class="text-center">Voting options</h5>
        <ul class='options-box'>
          <li class="ui-state-default d-flex">
            <div class="p-2 input-group">
              <span class="input-group-addon testing2" id="basic-addon2">1</span>
              <input class="form-control" type='text' id='item' name='item' placeholder="Option 1" maxlength="22" required>
              <br>
            </div>
          </li>
          <li class="ui-state-default d-flex">
            <div class="p-2 input-group">
              <span class="input-group-addon testing2" id="basic-addon2">2</span>
              <input class="form-control" type='text' id='item2' name='item' placeholder="Option 2" maxlength="22" required>
              <br>
            </div>
          </li>

        </ul>
        <div class='add-option'>
          <i class="fa fa-plus pull-left" aria-hidden="true"></i>
          <p>Add an option</p>
        </div>
        <button type="submit" class="btn btn-outline-primary btn-lg btn-block"> Submit </button>
      </form>

      </section>

    

</body>

</html>
