$light-grey-color: #D0D7D0;
$text-color: #31322C;
$blue-color: #48AAB5;
$header-color: #B4CAD5;

body {
  color: $text-color;

  h1 {
    color: $text-color;
    margin: 25px;
  }

  header {
    background-color: $header-color;
    height: 100px;
  }

  button {
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    cursor: pointer;
  }

  #poll-title {
    padding: 15px;
  }

  .main-container {
    background-color: $light-grey-color;
    padding: 40px;
  }

  .main-container section {
    background-color: #fff;
    width: 400px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    border: 1px solid #e6e6e6;
  }

  .main-container section h2 {
    padding: 10px;
  }

  .main-container section ul {
    list-style: none;
    margin-bottom: 0;
  }

  .main-container section form i {
    padding: 10px;
  }

  li.vote {
    background-color: $blue-color;
    border-color: #31322C;
    color: #FFF;
    margin: 5px;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    height: 50px;
  }

  li.vote div {
    padding: 6px;
  }

  li.vote .fa-bars {
    float: right;
  }

  li.vote div p {
    float: left;
    margin: 5px 0 2px 10px;
  }

  .vote-submit {
    margin-top: 20px;
  }

  li.vote-admin {
    background-color: $light-grey-color;
    border-color: #31322C;
    color: $text-color;
    text-align: center;
    margin: 5px;
    border-radius: 5px;
    font-size: 1.2em;
  }

  li.vote-admin div {
    display: inline-block;
  }

  input.p-2 {
    width: 90%;
    margin: 5px auto;
  }

  div.add-option, div.add-sms {
    display: block;
    color: #007bff;
  }

  div.add-option:hover, div.add-sms:hover {
    color: #00bbff;
    cursor: pointer;
  }

  div.add-option p, div.add-sms p {
    margin-top: 5px;
    padding-top: 5px;
  }

  .options-box {
    padding-left: 0;
  }

  button.friends-button {
    margin: 10px 0;
  }

  #friends-form {
    margin: 10px;
  }

  #logo {
    padding: 15px;
  }
}
